@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&family=Nunito:wght@400;700&family=Quicksand:wght@400;700&display=swap');

html {
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #2c3e50;
}

p{
   margin: 0.75rem;
   font-size:xx-large;
}

input{
    background-color: #d6eaf8;
    border-radius: 0.175rem;
    border-color: #95a5a6;
    padding: 0.25rem;
}

label{
    font-size: x-large;
    padding: 0.25rem;
}

button{
    margin: 0.25rem;
    font-size: x-large;
    background-color: #f3e1c6;
    border-color: #3498db;
    border-width: 0.175rem;
}

.main-container{
    display: flex;
    background-color: #fdf3e7;
    max-width: fit-content;
    justify-content: center;
    text-align: center;
    
     /* Positions the container in the center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;

    border-color: #3498db;
    border-radius: 0.5rem;
    border-width: 0.5rem;
    border-style: solid;
    color: #2c3e50
}

.element-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;

}